* {
    background-color: black;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
}
.page-title {
    font-size: 3.8rem;
    text-align: center;
    color:aqua;
    padding: 0 10px;
    width: 100%;
}
.main {
    width:100%;

}
.clip-holder {
    width: 425px;
}
.weather-content {
    color: aqua;
}
.content-holder {
    display: flex;
    width:100%;

}
.input {
    color:white;
    margin:15px auto;
    font-size: 1.5rem;
}
.cityInput {
    background-color: white;
    color:black;
    border-radius: 12px;
    text-align: center;
}
.cityInput:hover {
    background-color: lightcyan;
}
.history {
    text-align:center;
}
.search {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    
    font-size: 1.3rem;
    border-radius: 12px;
    position: relative;
    top: 10px;
    box-shadow: 0 3px gray;
    color:black;
    width: 200px;
    padding: 5px 7px;
    margin: 10px auto;
    background:darkmagenta;
    color: #fff;
}
.search:hover {
    box-shadow: 0 2px var(--grey);
    
  } 
    .search:active {
    box-shadow: 0 2px var(--grey);
    top: 7px;
  }
  .a {
    text-decoration: none;
    color:aqua;
    border: 0;

  }
  .a:hover {
      color:darkmagenta;
  }
  .forecast-heading {
      border-top: darkmagenta solid 1px;
      border-bottom: darkmagenta solid 1px;
      margin: auto;
      padding:0.5rem
  }
  .card-container {
      justify-content: space-between;
  }
  .day {
      padding:0px;
  }
  p {
      margin-bottom: 0.1rem;
  }