* {
    background-color: black;
}
html, body {
    height: 100%;
}
.content {
    flex: 1 0 auto;
    width:100%;
}
.footer {
    flex-shrink: 0;
    color:slategray;
    text-align: center;
    width:100%;
    margin-left: 15px;
    margin-right: 15px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.header {
    width: 100%;
}
.page-title {
    font-size: 3.8rem;
    text-align: center;
    color:aqua;
    padding: 0 10px;
    width: 100%;
}
.main {
    width:100%;

}
.clip-holder {
    width: 425px;
}
.weather-content {
    color: aqua;
    margin:auto;
    justify-content: center;
}
.city-content {
    margin-top: 20px;
    margin-bottom: 30px;
}
.forecast-container {
    margin:auto;
    justify-content: center;
}
.content-holder {
    display: flex;
    width:100%;

}
.input {
    color:white;
    margin:15px auto;
    font-size: 1.5rem;
}
.cityInput {
    background-color: white;
    color:black;
    border-radius: 12px;
    text-align: center;
    width: 200px;
}
.cityInput:hover {
    background-color: lightcyan;
}
.history {
    text-align:center;
}
.search {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    
    font-size: 1.3rem;
    border-radius: 12px;
    position: relative;
    top: 10px;
    box-shadow: 0 3px gray;
    color:black;
    width: 200px;
    padding: 5px 7px;
    margin: 10px auto;
    background:darkmagenta;
    color: #fff;
}
.search:hover {
    box-shadow: 0 2px var(--grey);
    
  } 
    .search:active {
    box-shadow: 0 2px var(--grey);
    top: 7px;
  }
  .a {
    text-decoration: none;
    color:aqua;
    border: 0;

  }
  .a:hover {
      color:darkmagenta;
  }
  .forecast-heading {
      border-top: darkmagenta solid 1px;
      border-bottom: darkmagenta solid 1px;
      margin: auto;
      padding:0.5rem
  }
  .card-container {
      justify-content: space-between;
  }
  .day {
      padding:0px;
      text-align: center;
  }
  p {
      margin-bottom: 0.1rem;
  }
  .good {
      background-color: green;
      color: white;
      width:fit-content;
      padding:0 5px;
  }
  .ok {
    background-color: yellow;
    color: black;
    width:fit-content;
    padding:0 5px; 
  }
  .moderate {
    background-color: orange;
      color: black;
      width:fit-content;
      padding:0 5px;
  }
  .danger {
    background-color: red;
      color: white;
      width:fit-content;
      padding:0 5px;
  }
  .meltdown {
    background-color: rgba(146, 43, 214, 0.582);
      color: white;
      width:fit-content;
      padding:0 5px;
  }
  .quotes {
      text-align: center;
  }
  .addOne {
      margin-top: 25px;
      border-bottom: 1px solid darkmagenta;
      padding-bottom: 25px;
  }
  .addTwo {
      margin-top: 25px;
      padding-bottom:20px;  
  }
  .err {
      color: red;
      font-size: 1.1rem;
      text-align: center;
  }
  @media screen and (max-width: 992px) {
    .weather-content {
      text-align: center;
    }
    .good {  
        margin: auto;
    }
    .ok {
      margin: auto;
    }
    .moderate {
        margin: auto;
    }
    .danger {
        margin: auto;
    }
    .meltdown {
        margin: auto;
    }
    .day {
        border-bottom: darkmagenta solid 1px;
    }
  }